[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
psycopg = "*"
psycopg2-binary = "*"
python-dotenv = "*"
drf-yasg = "*"
django-cors-headers = "*"
factory-boy = "*"
celery = "*"
redis = "*"
dj-database-url = "*"

[dev-packages]

[requires]
python_version = "3.10"
